<template>
  <div>
      <v-list
              class="p-3"
              v-for="(message, index) in allMessages"
              :key="index"
      >
         test

      </v-list>

  </div>
</template>

<script>
  export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style scoped>
.chat-card{
  margin-bottom:140px;
}
.floating-div{
    position: fixed;
}
.chat-card img {
    max-width: 300px;
    max-height: 200px;
}

</style>
