@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
html, body{
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5{
	font-weight: 300;
}
h2{
  margin: 10px 0 30px;
}
h3{
  color: #188c3d;
}
.clear-fix{
  display: table;clear: both;
}
p{
	font-size: 14px;
	line-height: 17px;
}
a:hover{
  text-decoration: none;
}
a.white:hover{
  color: #fff;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
}
.bg-dark{
  background-color: #343a40;
}
.white{
  color: #fff;
}
.black{
  color: #000;
}
.grey{
  color: #ccc;
}
.dark{
  color: #333;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.p-0{
  padding: 0;
}
.pt-10{
  padding-top: 10px;
}
.pb-10{
  padding-bottom: 10px;
}
.pt-20{
  padding-top: 20px;
}
.pb-20{
  padding-bottom: 20px;
}
.pt-30{
  padding-top: 30px;
}
.pb-30{
  padding-bottom: 30px;
}
.wd-80-auto{
  width: 80%;
  margin: 0 auto;
}
.width-md-30{
  width: 30%;
  margin: 0 auto;
}
.font-bold{
  font-weight: bold;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
} 
.carousel-control.right {
    right: 0;
    left: auto;
    top: initial;
    bottom: 0;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    opacity: 1;
}
.carousel-indicators{
	left: 15%;
}
.into-desc h3{
	text-align: center;
}
.into-desc {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.item .into-img {
    width: 80%;
    margin: 0 auto;
}
.into-img {
    display: table;
    min-height: 300px;
}
.into-img a {
	vertical-align: middle;
    display: table-cell;
    height: 300px;
}
.into-img img {
    height: auto;
    width: 100%;
}
.item{
    padding: 0 10px 80px 10px;
}
.carousel-indicators li{
	background-color: #ccc;
}
.carousel-indicators li.active{
    background-color: #188c3d;
}
.carousel .into-next{
	position: absolute;
    bottom: 0;
    right: 65px;
    left: unset;
}
.skip-link {
    text-align: center;
    margin: 20px 0;
}
.skip-link a{
  font-size: 18px;
  color: #188c3d; 
}
.skip-link a:hover{
  text-decoration: none;
}
.navbar-header{
  width: 100%;
}
.navbar-header button{
  background: none;
  border: none;
}
.navbar-header a{
  color: #fff;
  font-size: 28px;
}


/***********signup page styles************/
.signing-wrapper h3,.signing-wrapper p{
  text-align: center;
}
.signing-wrapper .signup-img{
  margin: 30px auto 50px;
}
.btn-lg-custom, .btn-lg-custom.g{
    border-radius: 25px;
    width: 100%;
    border: none;
    color: #fff;
    margin: 10px 0;
    font-size: 18px;
    padding:10px  15px;
    cursor: pointer;
}
.btn-custom{
    background-color: #14893d;
    padding: 10px 20px;
    border-radius: 7px;
    color: #fff;
    border: none;
    text-transform: uppercase;
}
.btn-lg-custom{
    background-image: linear-gradient(to right, #8bc73e , #14893d);
}
.btn-lg-custom.g{
    background-image: linear-gradient(to right, #df9330 , #df4930);
}
.login-link{
  margin: 0 0 25px 0;
}
.login-link a{
  font-weight: bold;
  font-size: 15px;
}
.login-link a:hover{
  text-decoration: none;
}
.custom-field{
  border: none;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #ccc;
    background: #343a40;
  box-shadow: none;
  border-radius: 0;
}
.custom-field:focus{
  outline: none;
}
.form-group label{
  text-transform: uppercase;
    font-weight: normal;
  color: #fff;
}
.form-group{
  margin-bottom: 25px;
}
/****************home screen styles*********************/
.category-wrap ul{
  display: table;
  margin: 0 auto;
  
}
.category-wrap ul li{
  float: left;
  list-style: none;
  margin: 0 7.5px;
}
.category-wrap ul li img{
  width: 55px;
}
/****************filter styles*********************/
#SlideMiddle img{
  width: 100%;
}
#SlideMiddle {
  display: block;
  width: 100%;
  min-height: 100%;
}
#SlideMiddle #nav {
  display: flex;
  height: 71px;
  width: 100%;
  margin: 0 auto;
}
#SlideMiddle #nav #nav-bar {
  display: table;
  width: 100%;
  height: 100%;
}
#SlideMiddle #nav #fix-content {
  display: table-cell;
  width: 960px;
  height: 100%;
  max-width: 960px;
  min-width: 960px;
}
#SlideMiddle #nav #nav-bar-filters {
  display: flex;
  width: 100%;
  height: 100%;
}
#SlideMiddle #nav #nav-bar-filters .filter-item {
  cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0px 25px;
    margin: 0 25px 0 0;
    width: max-content;
    height: min-content;
    color: #18894b;
    border: 1px solid #18894b;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}
#SlideMiddle #nav #nav-bar-filters .filter-item:hover {
  color: #868686;
}
#SlideMiddle #nav #nav-bar-filters .filter-item.active {
  color: #fff;
  background: #18894b;
  border-radius: 60px;
}
#SlideMiddle #nav #nav-bar-filters .filter-item.active:before {
  content: ' ';
  display: block;
  height: 100%;
  position: absolute;
  width: 15px;
  top: 0px;
  left: -8px;
}
#SlideMiddle #nav #nav-bar-filters .filter-item.active:after {
  content: ' ';
  display: block;
  height: 100%;
  width: 15px;
  position: absolute;
  top: 0;
  right: -8px;
}
#SlideMiddle #grid {
  margin: 40px auto;
  width: 960px;
  padding-left: 15px;
  box-sizing: border-box;
}
#SlideMiddle #grid-content {
  position: relative;
}
#SlideMiddle #grid-content .grid-item {
  margin-bottom: 15px;
  width: 23%;
}
.filter-wrap{
  background: #fff;
}
.home-category{
  padding: 0 0 20px 0;
}
select.locality{
  float: right;
    color: #007f3d;
    border: none;
    padding: 4px 10px;
    font-size: 20px;
    background: url(../images/dropdown-arrow.png) #fff no-repeat center right 10px;
}
.home-category h2{
  text-align: center;
  margin: 0 0 10px 0;
}
.product-desc .product-title{
  width: 70%;
  float: left;
}
.product-desc .product-title a{
  color:#212529;
}
.product-desc .product-cost {
  width: 30%;
    float: right;
    text-align: right;
    color: #18894b;
}
.product-desc .product-cost span{
    font-size: 26px;
    line-height: 30px;
}
.product-img img{
  border-radius: 10px;
}
.home-footer{
        box-shadow: 0 0px 14px -1px #333;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  background: #fff;
}
.home-footer ul{
  margin: 0;
}
.home-footer ul li{
  float: left;
  width: 20%;
  list-style: none;
}
.home-footer ul li span{
  margin: 0 0 0 10px;
}
.home-footer ul li.active a{
  color: #007f3d;
}
.home-footer ul li a{
  font-size: 20px;
  color: #555;
  font-weight: 600;
  line-height: 28px;
}
.home-wrapper{
  padding-bottom: 50PX;
}
/**book a product styles**/
.product-head{
         font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.29px;
    text-align: center;
    color: #ffffff;
}
.product-fullview .carousel-indicators {
    left: 30%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255,255,255,1) , rgba(255,255,255,0));
    height: 50px;
    bottom: 0;
    padding-top: 15px;
    margin-bottom: 0;
}
.product-fullview .item{
  padding: 0;
}
.product-fullview .carousel-indicators li.active {
    background-color: transparent;
}

.product-fullview .profle-view{
  background: #fff;
  padding: 10px 0;
}
.product-fullview .profile-pic{
      width: 18%;
    float: left;
    margin: 0 20px 0 0;
}
.product-fullview .profile-pic img{
  width: 100%;
}
.product-fullview .profile-name p{
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0;
}
.product-fullview .profile-name{
  height: 105px;
  vertical-align: middle;
  display: table-cell;
}
.product-fullview .profile-name p span{
  display: block;
}
.product-fullview .profile-name p span i{
  color: #007f3d;
    font-size: 20px;
    font-weight: bold;
}
.product-fullview .price-product{
    height: 105px;
    vertical-align: middle;
    display: table-cell;    font-weight: 600;
}
.product-fullview .price-product span{
      display: block;
    font-size: 32px;
    color: #178b3d;
    font-weight: 600;
}
.product-fullview .profile-desc h3{
  color: #555;
  font-weight: 600;
}
.product-fullview .profile-desc p{
  color: #555;    
}
.product-fullview .product-location img{
  margin-right: 10px;
}
.product-fullview .product-location{
font-weight: 600;
}
.product-fullview .interest-btn{
    height: 150px;
    vertical-align: middle;
    width: 50%;
    display: table-cell;
}
/**********calender styles************/
.datepick {
    background-color: transparent !important;
    color: #fff !important;
   border: 1px solid #018e44 !important;
    background: linear-gradient(to right, #018540 , #01bf5c) !important;
 }
.datepick-month td .datepick-weekend {
    background-color: transparent !important;
}
.datepick-month td .datepick-other-month {
    background-color: transparent !important;
}
.datepick-nav, .datepick-ctrl{
    background-color: transparent !important;
}
.datepick-month{
  border:none !important;
}
.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
    height: 1.5em !important;
    background-color: transparent !important;
}
.datepick-month thead {
    border-bottom: none !important;
}
.datepick-month th, .datepick-month th a {
    background-color: transparent !important;
}
.datepick-month th {
    border: none !important;
}
.datepick-month td {
    background-color: transparent !important;
    border: none !important;
}
.datepick-month td .datepick-weekend {
    background-color: transparent !important;
}
.datepick-month td .datepick-other-month {
    background-color: transparent !important;
}
.datepick-month a {
    background-color: transparent !important;
    color: #fff !important;
}
.datepick-month td .datepick-today {
    background-color: #000 !important;
}
.datepick-month td .datepick-highlight {
    background-color: #fff !important;
    color: #000 !important;
}
.datepick-cmd:hover {
    background-color: transparent !important;
}
.datepick-month td .datepick-selected {
    background-color: #777 !important;
}
.product-deal-info{
  background: #fff;
  padding: 10px 0;
}
.product-deal-info h3{
  color: #555;
  font-weight: 600;
  font-size: 24px;
}
.product-deal-info span.ordered-date {
    display: block;
    color: #019d4c;
    font-size: 20px;
    text-align: center;
}
.product-deal-info span.ordered-price {
    display: block;
    font-size: 32px;
    color: #019d4c;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
  }
.product-deal-info span.order-tag {
    display: block;
    text-align: center;
    font-size: 18px;
}
.product-deal-info .call-person {
      background: #2a2e43;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: table;
    clear: both;
    width: 100%;
    padding: 15px;
    color: #fff;
}
.product-deal-info .profile1-img {
    width: 75px;
    margin: 0 10px 0 0;
    float: left;
}
.product-deal-info .profile1-img img{
  width: 100%;
}
.product-deal-info .profile1-name {
    height: 75px;
    vertical-align: middle;
    display: table-cell;
}
.product-deal-info .profile1-name span{
  display:block;
}
.contact1 i{
  padding: 10px;
  background: #353a50;
  border-radius: 5px;
  margin: 0 5px;
}
.mapping1{
  float: right;
  margin-top: 10px !important;
}
.charged-price {
    margin: 10px !important;
}
.datepick{
  width: 50% !important;
    padding: 10px !important;
}
.datepick-month {
    width: 100% !important;
  }
  .datepick-month-header{
    margin: 10px 0 !important;
  }
  .datepick-month th, .datepick-month td{
    padding: 7px 0 !important;
  }
/**Account Profile styles**/
.profile-acc-view{
  background: #fff;
  width: 100%;
    margin: 25px 0 0 0;
  display: table;
}
.profile-acc-view .profile-acc-pic img{
  width: 100%;
  border-radius: 150px;
}
.profile-acc-view .profile-acc-desc{
  text-align: center;
    margin-top: 20px;
}
.profile-acc-view .profile-acc-desc h3{
  font-size: 24px;
  color: #555;
  font-weight: 600;
}
.profile-acc-view .profile-acc-desc p{
  font-size: 15px;
  line-height: 18px;
}
.profile-acc-desc .acc-info{
  float: left;
  width: 50%;
  text-align: center;
color: #93959f;
}
.profile-acc-desc .acc-info span{
  font-weight: 600;
  font-size: 24px;
  display: block;
  color: #007f3d;
}
.collection-wrapper{
  background: #fff;
  margin-bottom: 20px;
}
.collection-header h5{
  float: left;
  color: #93959f;
  font-size: 15px;
}
.collection-item{
  margin-bottom: 15px;
}
.collection-item img{
  margin: 5px;
}
.collection-item h4{
   font-weight: 600;
  color: #007f3d;
}
.coll-item-list a{
  font-size: 15px;
}
.no-collection-wrapper{
  text-align: center;
  background: #fff;
  width: 35%;
  margin: 20px auto 0;
}
#upload_link, #upload_link1, #upload_link2{
    text-decoration:none;
}
#upload, #upload1, #upload2{
    display:none
}
.multifiles button:focus{
  outline: none;
}
.edit-profile-wrapper{
  width: 36%;
  margin: 10px auto;
  text-align: center;
}
.edit-profile-wrapper .form-group label {
    color: #555;
    float: left;
}
.edit-profile-wrapper .custom-field{
  background: #fff;
  text-align: left;
}
.edit-profile-wrapper .profile-img img{
  border-radius: 100px;
  margin-bottom: 20px;
}
.edit-profile-wrapper .profile-img a{
      color: #218f3d;
    font-weight: bold;
    font-size: 18px;
}
.chat-list-item {
    margin: 10px 0;
    width: 100%;
    display: table;
}
.chat-list-item .chat-pic img{
  border: 2px solid #aaaaaa;
    padding: 4px;
     border-radius: 50px;
         width: 70px;
             height: 70px;
}
.chat-list-item .chat-profile-name a{
  color: #333;
  font-size: 20px;
  line-height: 28px;
}
.chat-list-item .chat-profile-name span{
  font-size: 14px;
  color: #aaaaaa;
  margin: 0 0 0 100px;
}
.chat-list-item .chat-time{
  font-size: 14px;
  color: #aaaaaa; 
}
.chat-list-item.active-chat img{
  border: 2px solid #007f3d;
}
.chat-fullview .chat-pic img{
  border-radius: 50px;
  height:50px;
  width:50px;
}
#add-files{
  display: none;
}
.chat-overview .msg-info{
  margin: 10px 0;
}
.chat-overview .msg-info p{
  width: 80%;
  padding: 5px;
    border-radius: 5px;
}
.chat-overview .msg-out p{
  float: left;
  background: #e8e8ea;
  text-align: left;
  width: auto;
}
.chat-overview .msg-in p{
  float: right;
  background: #007f3d;
  text-align: right;
  width: auto;
  color: #fff;
}
.add-send-info button{
  background: none;
    border: none;
}
.add-send-info input[type="text"]{
  border:none;
  background: transparent;
  padding: 5px 10px;
  width: 100%;
}
#add-files .close-add-btn{
  padding: 5px 10px;
}
#add-files .multifiles{
  text-align: right;
}
.add-send-info {
    padding: 10px 0;
    display: table;
    border-top: 1px solid #ccc;
    width: 98%;
    position: fixed;
    background: #fff;
    bottom: 0;
}
.msg-info .chat-img{
    display: table;
    clear: both;
    width: 100%;
}
.msg-info .chat-img img{
  width: 40%;
  border-radius: 10px;
}
.publish-success{
  text-align: center;
}
.publish-success img{
  width: 100%;
}
.publish-success h3{
 color: #555;
 margin: 35px 0 10px 0 ;
 font-size: 20px;
 line-height: 24px;
}
.publish-success h5{
 color: #007f3d;
 font-size: 16px;
    margin-bottom: 20px;
 font-weight: bold;
 line-height: 20px;
}
.publish-success .publish-img{
  display: table;
}
.publish-success .publish-img img{
  float: left;
  width: 90px;
  margin: 0 15px;
}
textarea.form-control {
    height: 100px;
    padding:10px;
    background: #fff;
    border-radius: 5px;
    margin-top: 7px;
}
.product-imgs-wrap{
  display: table;
}
.product-imgs-wrap .product-imgs img{
  width: 95px;
  padding:5px;
  float: left;
}
.publish-btn{
  width: 50%;
}
.product-desc-head{
      font-size: 30px;
    color: #fff;
    margin: 15px 0;
    text-align: center;
}
.product-desc-wrapper input{
  color: #fff;
}
.product-desc-wrapper label{
      color: #999;
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 0;}
    span.invalid-feedback {
    color: red;
}
.navbar-header a img{
  height:24px;
  width:20px;
}
.no-padding{
    padding: initial;
}
.navbar{padding:5px;}
#SlideMiddle #nav #nav-bar-filters .filter-item.active a {color:white;}
.fa-phone
{
  background: url(../images/svg/call.svg) no-repeat 6px center;
  width:40px;
  height:40px;
}
.chat-list .row
{
  margin-left: 0px;
}