
@media screen and (max-width: 991px) {
  #SlideMiddle #grid {
    width: 945px;
  }
  .width-md-30{
    width: 60%;
  }
  .category-wrap ul{
    width: 661px;
    padding: 0 0 5px 15px;
  }
  .category-wrap{
    overflow-x: scroll;
  }
  #SlideMiddle #grid-content .grid-item{
    width: 31%;
  }
  .datepick {
    width: 75% !important;
  }
}
li.cameraico {
    margin-top: -40px;
}
@media screen and (max-width: 850px) {
  #SlideMiddle #grid {
    width: 630px;
  }
  #SlideMiddle #grid-content .grid-item{
    width: 38%;
  }
}
@media screen and (max-width:768px) {
  #SlideMiddle #grid {
    width: 600px;
  }
  .publish-btn{
    width: 50%;
  }
  .publish-success .publish-img {
    margin: 0 auto;
  }
  .publish-success {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  .publish-success .publish-img img {
      float: left;
      width: 75px;
      margin: 0 15px;
  }
  .home-footer ul li{
    text-align: center;
  }
  .home-footer ul li span{
    display: none;
  }
  .width-sm-100{
    width: 100%;
  }
  #SlideMiddle #grid-content .grid-item{
    width: 100%;
    margin: 0 auto;
  }
  #SlideMiddle #nav #nav-bar-filters .filter-item {
    margin: 0 15px 0 0;
    font-size: 14px;
  }
  #SlideMiddle #nav {
    height: 50px;
    overflow-x: scroll;
  }
  .product-fullview .interest-btn {
      height: auto;
      vertical-align: initial;
      width: 100%;
      display: block;
      text-align: center;
  }
  .datepick{
    margin: 10px auto !important;
  }
  .product-deal-info .call-person {
    margin: -15px 0 0 0;
  }
  .profile-acc-view .profile-acc-pic img {
    width: 120px;
  }
  .profile-acc-pic{
    text-align: center;
  }
  .collection-item img {
   width: 80px;
  }
  .profile-acc-view .profile-acc-desc h3 {
      font-size: 20px;
  }
  .no-collection-wrapper{
    width: 50%;
  }
  .no-collection-wrapper img{
      width: 100%;
  }
  .edit-profile-wrapper{
    width: 65%;
  }
  .product-desc-head{
    font-size: 24px;
  }
}
@media screen and (max-width:661px) {
#SlideMiddle #grid{
      width: 85% !important;
    padding: 0;
}
.product-imgs-wrap{
  margin: 0 0 20px 0;
}
.publish-success{
  width: 80%;
  margin: 0 auto;
}
.publish-success .publish-img img {
    float: left;
    width: 75px;
    margin: 0 10px;
}
.publish-btn{
  width: 80%;
}
.chat-list-item .chat-profile-name a {
    font-size: 17px;
    line-height: 22px;
}
.chat-list-item .chat-time{
  font-size: 10px;
  line-height: 15px;
}
.chat-list-item .chat-pic img{
  width: 46px;
      height: 46px;
}
  .product-desc-head{
    font-size: 20px;
  }
.chat-list-item .chat-profile-name span{
    margin: 0 0 0 0;
    display: block;
    font-size: 12px;
}
.chat-overview .msg-out p{
  width: 90%;
}
.msg-info .chat-img img {
    width: 90%;
  }
  .chat-fullview .product-head {
    font-size: 20px;
  }
  .chat-fullview .chat-pic img{
    
  }
  .add-send-info{
    width: 92%;
  }
  .edit-profile-wrapper{
    width: 85%;
  }
  .no-collection-wrapper{
    width: 80%;
  }
.home-footer ul{
  padding: 0;
}
.home-footer ul li img{
  height: 24px;
  width:21px;
}
.home-footer ul li.chatico img{
 
  width:33px;
   
}
.home-footer ul li.cameraico img{
  height: 100px;
  width:100px;
    margin: -20px 0 0 -10px;
}
.product-fullview .profile-name {
    height: 100px;
}
.product-fullview .profile-name p {
    font-size: 15px;
    line-height: 22px;
}
.product-fullview .profile-name p span i{
    font-size: 15px;
}
.product-fullview .price-product span {
    font-size: 25px;
    }
.product-fullview .profile-desc h3{
      margin-top: 0;
      font-size: 20px;
    }
.product-fullview .product-head {
    font-size: 20px;
  }
  .product-fullview .product-search img{
    width: 30px;
  }
  .product-fullview .navbar-header{
        margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .contact2,.mapping1{
    padding: 0;
  }
 .contact2 .interest-btn{
  width: 75%;
  margin: 0 auto
  }
  .product-deal-info .profile1-img {
    width: 60px;
  }
  .product-deal-info .profile1-name {
    height: 60px;
  }
  .datepick-nav, .datepick-ctrl {
    width: 100% !important;
    margin: 10px 0 !important;
}
.datepick-month-header{
  margin-bottom: 10px !important;
}
.datepick-month th, .datepick-month td{
  padding: 7px 0 !important;
}
.datepick-month{
  width: 100% !important;
}
.datepick-month a {
    padding: 7px 0 5px 0 !important;
    }
  .datepick{
    width: 80% !important;
  }
  .profile-acc-desc .acc-info {
    margin: 20px 0 0 0;
}
.navbar-header a {
    line-height: 28px !important;
}
}
@media screen and (max-width:551px) {
  .product-fullview .profile-name {
      height: 60px;
  }
   .no-collection-wrapper{
    width: 80%;
  }
   .no-collection-wrapper h4{
    font-size: 15px;
    color: #93959f;
   }
  .product-deal-info h3 {
    font-size: 18px;
  }
  .charged-price {
    margin-bottom: 15px;
  }
  .product-deal-info span.order-tag{
    font-size: 15px;
  }
  .datepick-month th, .datepick-month td {
      padding: 0px 0 !important;
  }
  .datepick {
    width: 100% !important;
}
.collection-item img {
   width: 55px;
}
.chat-fullview .product-search{
  padding-right: 0;
}
}
@media screen and (max-width:450px) {
.enter-text, .multifiles{
  width: 80%;
}
.publish-success .publish-img img {
    margin: 0 5px;
}
.add-text .add-ext{
  width: 20%;
}
}
@media screen and (min-width: 1315px) {
  #SlideMiddle #grid {
    width: 1275px;
  }
}
@media screen and (min-width: 1630px) {
  #SlideMiddle #grid {
    width: 1590px;
  }
}
@media screen and (min-width: 1945px) {
  #SlideMiddle #grid {
    width: 1905px;
  }
}
@media screen and (min-width: 2260px) {
  #SlideMiddle #grid {
    width: 2220px;
  }
}
@media screen and (min-width: 2575px) {
  #SlideMiddle #grid {
    width: 2535px;
  }
}
.container-fluid {
  padding-right: 0px;
  padding-top: 3px;
 
}
label.product-title-desc {
  margin-bottom:0px;
}
input#txtsearch {
    width: 130px;
}
@media screen and (max-width: 661px){
  .home-category h2 {
    margin-left:19px;
  }
    .container-fluid {
       padding-left:5px;
    }
}
@media screen and (max-width: 661px){

  .col-xs-5, .col-xs-2, .col-xs-6
  {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-header
  {
   padding-left: 15px;

  }
  div#divCanvas {
    text-align: center;
}
  }
  #SlideMiddle #nav #nav-bar-filters a
  {
    padding: 0 25px;
     color: #18894b;
  }
  @media screen and (max-width: 320px){
	.navbar-header a {
		    letter-spacing: 2px;
	}
	input#txtsearch {
    width: 100px;
	}
	.navbar-brand {
		margin-right: 0px;
	}
  }
