/*
* Tuds tDatepicker
* Copyright 2018 tuds - crazychicken
* Licensed under: LICENSE
* Version: v1.0.4
*/
.t-check-in,
.t-check-out {
  border-color: #ededed; }

.t-check-in {
  border-right-color: #e8e8e8; }

.t-date-title {
  color: #e91e63; }

.t-special-day:before {
  border-color: transparent;
  border-top-color: #e91e63;
  border-right-color: #e91e63; }

.t-datepicker-day {
  border-color: #ededed;
  background: #fff; }

.t-day, .t-range, .t-start, .t-end, .t-disabled {
 
  border-color: #fff; }

.t-disabled {
  background: transparent; }

.t-highlighted {
  color: #20c997; }
 

.t-start,
.t-end,
.t-end-limit {
  color: #fff;
  background: #20c997; }

.t-range, .t-range-limit {
  color: #20c997; }

.t-range {
  background: #c9f6e9; }

.t-range-limit {
  background: #a1f0d9; }
  .t-range-limit.t-start, .t-range-limit.t-end {
    color: #fff;
    background: #3ce0af; }

.t-check-in .t-end,
.t-check-out .t-start,
.t-check-out tr ~ .t-end {
  color: black;
  background: white; }

.t-hover-day, .t-hover-day-content, .t-hover-day:hover {
  color: #fff;
  background: #3ce0af; }

.t-hover-day::after {
  border-color: transparent;
  border-top-color: #3ce0af; }

.t-today, .t-today .t-hover-day-content {
  background: #aeaeae; }

.t-today::after {
  border-top-color: #aeaeae; }

.t-today:hover, .t-today:hover .t-hover-day-content {
  background: #20c997; }

.t-today:hover::after {
  border-top-color: #20c997; }

.t-start.t-today,
.t-end.t-today {
  color: #fff; }
  .t-start.t-today, .t-start.t-today .t-hover-day-content,
  .t-end.t-today,
  .t-end.t-today .t-hover-day-content {
    background: #20c997; }
  .t-start.t-today::after,
  .t-end.t-today::after {
    border-top-color: #20c997; }
